.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected {
  background-color: blue;
  color: white;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: center; /* ボタンを中央揃えにする */
  gap: 10px; /* ボタン間の隙間を設定 */
}

.app-container {
  margin: 0 auto; /* 中央寄せ */
  max-width: 768px; /* スマホサイズに相当する最大幅 */
  width: 100%; /* ビューポートの幅が max-width 以下の場合は、ビューポートの幅全体を使用 */
}